<div class = 'assets' *ngIf ="asset">
    <h1> {{asset.title}}</h1>
    <button [routerLink] = "['/search']">Previous</button>
    <h2>Description</h2>
    <p >{{asset.long_description}}</p>
    <!-- This only renders if the media type is an image-->
    <img *ngIf = "asset.media_type === 'image' " [src]="asset.href_orig">

    <!-- This will render if the media type is a video-->
    <video  *ngIf = "asset.media_type === 'video'" controls>
        <source [src] ="asset.href_orig">
    </video>

</div>